language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  - nightly
  - hhvm-nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly
    - php: hhvm-nightly

sudo: false

before_install:
  - travis_retry composer self-update && composer --version

install:
  - travis_retry composer install

after_script:
  - |
    if [ $TRAVIS_PHP_VERSION = '5.6' ]; then
      [[ -f ocular.phar ]] || travis_retry wget https://scrutinizer-ci.com/ocular.phar
      php ocular.phar code-coverage:upload --format=php-clover coverage.xml
    fi

cache:
  directories:
    - $HOME/.composer/cache
    - vendor
