{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true
    },
    "minMsi": 84,
    "minCoveredMsi": 88
}
