includes:
    - phpstan-baseline.neon
parameters:
    level: max
    paths:
        - bin
        - src
        - tests
    reportUnmatchedIgnoredErrors: true
    inferPrivatePropertyTypeFromConstructor: true
