includes:
    - phpstan-baseline.neon
parameters:
    level: max
    paths:
        - bin
        - src
        - tests
        - tools
    reportUnmatchedIgnoredErrors: true
    inferPrivatePropertyTypeFromConstructor: true
    excludes_analyse:
        - tools/sami-config.php
