parameters:
    level: 2
    paths:
        - src
        - tests
        - bin
    reportUnmatchedIgnoredErrors: true
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Unsafe usage of new static\(\)\.#'
