<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory="build/.phpunit.cache"
         executionOrder="random"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true">
    <testsuites>
        <testsuite name="Builder">
            <directory suffix=".php">./tests/Builder</directory>
        </testsuite>
        <testsuite name="Components">
            <directory suffix=".php">./tests/Components</directory>
        </testsuite>
        <testsuite name="Lexer">
            <directory suffix=".php">./tests/Lexer</directory>
        </testsuite>
        <testsuite name="Misc">
            <directory suffix=".php">./tests/Misc</directory>
        </testsuite>
        <testsuite name="Parser">
            <directory suffix=".php">./tests/Parser</directory>
        </testsuite>
        <testsuite name="Utils">
            <directory suffix=".php">./tests/Utils</directory>
        </testsuite>
        <testsuite name="Tools">
            <directory suffix=".php">./tests/Tools</directory>
            <exclude>./tests/Tools/templates/</exclude>
            <exclude>./tests/Tools/contexts/</exclude>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <xml outputDirectory="build/logs/coverage-xml"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="build/logs/junit.xml"/>
    </logging>
</phpunit>
